/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;1,6..96,400;1,6..96,500;1,6..96,600&family=Domine:wght@400;500;600;700&display=swap");

button,
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  /* startje */
  --background-color-body: rgb(255, 255, 255);
  --color-text: rgb(0, 0, 0);
  --background-color-header-footer: rgb(0, 0, 0);
  --color-text-voeter-head: white;
  --color-text-time: gray;
  --color-background-white: white;
  --color-background: rgb(0, 0, 0);
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  --afterH2-line-gold: goldenrod;
  --border-lines-white: rgb(255, 255, 255);
  --border-lines-black: rgb(0, 0, 0);
  --links-hover-color-gold: goldenrod;
  --links-visited-color: grey;
  --background-color-lgray: rgb(238, 238, 238);
  --button-order-color: red;
  --botton-order-tekst: white;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  background: linear-gradient(
    100deg,
    rgba(63, 63, 63, 0.8) 0%,
    rgba(255, 255, 255, 0) 25%
  );
  z-index: -0;
  /* color: var(--background-color-body); */

  position: relative;

  min-width: 100vw;
}

h1,
h2 {
  font-family: "Bodoni Moda", serif;
  color: var(--color-text);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
  line-height: 1.3em;
  /* margin-left: 0.5em; */
  font-style: normal;
  margin: 1em 0em 1em 0em;
  /* padding-right: 1.5em; */
}

time {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1em;
  color: var(--color-text-time);
}

h2::after {
  content: "";
  display: block;
  background-color: var(--afterH2-line-gold);
  width: 30%;
  height: 0.05em;
  position: absolute;
  margin-top: 0.5em;
}

.skip-to-content-link {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-to-content-link:focus {
  clip: rect(0 0 0 0);
  clip-path: inset(0%);
  height: 1px;

  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a {
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
}

a:link {
  color: var(--color-text);
}

a:visited {
  color: var(--links-visited-color);
}

a:focus {
  color: white;
  background-color: goldenrod;
  outline: yellowgreen;
}

a:hover {
  color: var(--color-text);
  text-decoration: underline;

  cursor: pointer;
}

a:active {
}

header a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

header {
  /* border: solid; */
  /* border: 5em solid rgb(243, 3, 55); */
  /*border-top-width: 1em;*/
  /* border-width: 0.5em 0 0 0; */
  background-color: var(--color-background-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 0.2em 0 black;
  display: flex;
  flex-direction: column;
  align-content: center;

  left: 0;
  right: 0;

  position: fixed;
  top: 0;

  right: 0;

  padding: 0.5em 0 0 0;
  z-index: 2;
  margin-bottom: 100em;
  transition: transform 0.5s;
}

.shyheader.scroll-down {
  transform: translate3d(0, -100%, 0);
  /* border: solid; */
  /* border: 5em solid rgb(243, 3, 55); */
  /*border-top-width: 1em;*/
  /* border-width: 0.5em 0 0 0; */
  background-color: var(--color-background-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 0.2em 0 black;
  display: flex;
  flex-direction: column;
  align-content: center;

  left: 0;
  right: 0;

  position: fixed;
  top: 0;

  right: 0;

  padding: 0.5em 0 0 0;
  z-index: 2;
  margin-bottom: 100em;
  transition: transform 0.5s;
}

.shyheader .scroll-up {
  transform: none;
}

header section select {
  /* appearance: none; */
  width: 70%;

  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 5px;
}

select {
  appearance: none;
  background-color: var(--color-background-white);
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
}

header section select option {
  font-family: "Montserrat", sans-serif;
}

header section section:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
}

/* header::after{
	content: "";
	display: block;
	background-color: black;
	width: 100%;
	height: .3em;
	position: absolute;
	top: 0;
} */

header > section {
  display: flex;
  flex-direction: row;
  border: solid;
  border-width: 0 0 0.1em 0;
  justify-content: space-around;
  /* padding: 0 0 0.5em 0; */
}

header > section h1 img {
  width: 155px;
  height: 45px;
}

header > section button:first-of-type {
  background: none;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
header > section img {
  width: 25px;
  height: 25px;
}

header > section nav {
  position: fixed;
  /* top:0; */
  /* left:0; */
  inset: 0;
  z-index: 1;

  background-color: var(--background-color-header-footer);
  /* width: 100vw; */
  /* height: 100vh; */

  opacity: 100%;
  transform: translateX(-100%);
  transition: 0.3s;
  height: 50em;
}

header > section nav.zichtbareMenu {
  background-color: var(--background-color-header-footer);
  transform: translateX(0%);
  height: 50em;
  z-index: 100;
}

header > section nav.zichtbareMenu img {
  width: 155px;
  height: 45px;
  position: relative;
  margin-top: 8px;
  margin-left: 8px;
}

header > section nav.zichtbareMenu section {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3em;
  width: 90vw;
  align-items: flex-start;
  border: solid;
  border-width: 0.1em 0 0 0;
  border-color: var(--border-lines-white);
  padding-top: 1em;
}

header > section nav.zichtbareMenu h3 {
  color: var(--color-text);
  font-family: "Montserrat", sans-serif;
  margin-left: 0.5em;
}

header > section nav.zichtbareMenu section ul:first-of-type {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  width: 70vw;
}
header > section nav.zichtbareMenu ul:first-of-type li img {
  width: 90%;
}
header > section nav.zichtbareMenu ul:nth-of-type(1) {
  list-style: none;
  border: solid;
  border-bottom: var(--border-lines-white);
}
header > section nav.zichtbareMenu ul:nth-of-type(1) li {
  display: flex;
  list-style: none;
  display: block;
  margin: 1em 0 1em 1em;
}

header > section nav.zichtbareMenu > ul:nth-of-type(1) li::after {
  content: "";
  display: block;
  height: 0.01em;
  width: 80vw;
  background-color: var(--border-lines-white);
  margin-top: 1em;
}

header > section nav.zichtbareMenu > ul:nth-of-type(1) li a {
  color: var(--color-text-voeter-head);
  font-family: "Bodoni Moda", serif;
  font-size: 2em;
}

header > section nav.zichtbareMenu > ul:nth-of-type(2) {
  padding-left: 1em;
}

header > section nav.zichtbareMenu > ul:nth-of-type(2) li {
  display: flex;
  list-style: none;
  display: block;
  margin: 1em 0 1em 0;
}

header > section nav.zichtbareMenu > ul:nth-of-type(2) li a {
  color: var(--color-text-voeter-head);
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

header > section nav.zichtbareMenu button {
  width: 2em;
  height: 2em;
  background-color: seashell;
  position: absolute;
  right: 0;
}

header nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 12px;
}

header > nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;

  list-style: none;
}

header > nav {
  padding: 1em 0 1em 0;
  width: 80%;
}

main {
  position: relative;
  margin-top: 5em;
}

main h2 {
  font-size: 1.5em;
}

main section time,
a,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;

  text-decoration: none;
}

main section ul {
  margin-top: 1em;
  list-style: none;
}

main section:nth-of-type(1) {
  padding: 5em 0 0 0;
  /* background-color: lightcoral; */
  /* border: solid;
	border-width: 0.5em 0 0.2em 0; */
  display: block;
  margin-bottom: 2em;
}

main section:nth-of-type(1) > section {
  margin-left: 1em;
}

main section:nth-of-type(1) img {
  height: 357px;
  width: 100vw;
  object-fit: cover;
  object-position: 40% 10%;
  margin-bottom: 10%;
  display: block;
}

main section:nth-of-type(1) h2 {
  font-size: 2em;
  font-style: italic;
}

/* main section:nth-of-type(1)::after {
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 0.1em;
  position: absolute;
  
  top: 880px;
} */

main section:nth-of-type(2) {
  border-color: var(--border-lines-black);
  border: solid;
  border-width: 0.1em 0 0.1em 0;
  margin-top: 5em;
}

main section:nth-of-type(2) h1 {
  margin-top: 1em;
}

main section:nth-of-type(2)::before {
  content: "";
  display: block;
  background-color: var(--border-lines-black);
  width: 50%;
  height: 0.3em;
  position: absolute;
}

/*try and trun into grid begin***************************************************************************/

main section:nth-of-type(2) > ul > li {
  height: fit-content;
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: 8em 1fr;
  grid-template-rows: min-content 1fr 1fr;
  column-gap: 1rem;
  margin-bottom: 2em;
  flex: 1;
  padding-left: 0.8em;
}

main section:nth-of-type(2) > ul > li a:nth-of-type(2) {
  order: 2;
  color: pink;
}

main section:nth-of-type(2) > ul > li:first-of-type {
  position: relative;
}

main section:nth-of-type(2) > ul > li:first-of-type::after {
  content: "";
  display: block;
  background-color: var(--border-lines-black);
  width: 90%;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: calc(50% - 90% / 2);
  /* transform: translateX(5%) */
}

main section:nth-of-type(2) > ul > li:nth-of-type(2) {
  position: relative;
}

main section:nth-of-type(2) > ul > li:nth-of-type(2)::after {
  content: "";
  display: block;
  background-color: var(--border-lines-black);
  width: 90%;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: calc(50% - 90% / 2);
  /* transform: translateX(5%) */
}

main section:nth-of-type(2) > ul li img {
  grid-row-start: 1;
  grid-row-end: 6;

  grid-column-start: 1;
  grid-column-end: 2;

  width: 100%;
}

main section:nth-of-type(2) > ul li time {
  display: block;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}

main section:nth-of-type(2) > ul li p {
  display: block;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 1em;
  margin-top: 1em;
}
main section:nth-of-type(2) > ul li a {
  display: block;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

main section:nth-of-type(2) > ul li a:link {
  color: goldenrod;

  text-decoration-color: black;
}

main section:nth-of-type(2) > ul li a:visited {
  background-color: grey;
}
main section:nth-of-type(2) > ul li a:focus {
  background-color: goldenrod;
}
main section:nth-of-type(2) > ul li a:hover {
  text-decoration: underline goldenrod;
  text-decoration-color: black;
}

main section:nth-of-type(2) section {
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--background-color-lgray);
  border-style: solid;
  border-color: var(--border-lines-black);
  border-width: 0 0 0.1em 0;
  height: 8em;
  width: 22em;
  margin-left: auto;
  margin-right: auto;
}

main section:nth-of-type(2) section img {
  height: 62px;
  width: 44px;
  margin-bottom: 0;
}

main section:nth-of-type(2) section h3 {
  color: var(--color-text);
}

main section:nth-of-type(2) section button {
  appearance: none;
  height: 3em;
  width: 10em;
  background-color: var(--button-order-color);
  border-style: none;
  border-radius: 3px;
  color: var(--botton-order-tekst);
}

main section:nth-of-type(2) section button:focus {
  outline: var(--links-hover-color-gold);
  outline-width: 2em;
  transform: scale(1.1);
}
main section:nth-of-type(2) section button:hover {
  background-color: var(--links-hover-color-gold);
  transform: scale(1.1);
}

/*try and trun into grid end****************************************/

main section > ul::after {
  content: "";
  display: block;
  /* background-color: black; */
  width: 90%;
  height: 0.1em;
}

/************************** einde heading sectionn 3*******************************/

main section:nth-of-type(3) h1::before {
  content: "";
  display: block;
  background-color: var(--border-lines-black);
  width: 30%;
  height: 0.2em;
}

main section:nth-of-type(3) section {
  display: flex;
  justify-content: center;
  position: relative;
}

main section:nth-of-type(3) section img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  object-position: 40% 10%;
  margin-bottom: 10%;
  display: block;
  /* position: relative; */
  /* background-image: linear-gradient(to bottom, transparent 0%, black 100%); */
}

/**transperante sluier over image, gerealiseerd met behulp van SA- Sudoun*/

main section:nth-of-type(3) section::after {
  content: "";
  display: block;
  height: 100vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, transparent 0%, black 100%);
  z-index: 1;
}
/**transperante sluier over image, gerealiseerd met behulp van SA- Sundous*/

main section:nth-of-type(3) section h2 {
  position: absolute;
  top: 50%;
  color: var(--color-text-voeter-head);
  z-index: 2;
  text-align: center;
  order: 1;
}

main section:nth-of-type(3) section h2::after {
  content: "";
  display: block;
  background-color: var(--afterH2-line-gold);
  width: 30%;
  height: 0em;
  position: absolute;
  margin-top: 0.5em;
}

main section:nth-of-type(3) section p {
  position: absolute;
  top: 35%;
  color: var(--color-text-voeter-head);

  z-index: 2;
  order: 3;
}

main section:nth-of-type(3) section p:nth-of-type(2) {
  position: absolute;
  top: 40%;
  color: var(--color-text-voeter-head);
  margin-left: 12px;
}

/************************** einde heading sectionn 3 *******************************/

/************* begin main section 3 grid item **************************/
main section:nth-of-type(3) > ul {
  position: relative;
}

main section:nth-of-type(3) > ul li {
  height: fit-content;
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: 8em 1fr;
  grid-template-rows: min-content 1fr 1fr;
  column-gap: 1rem;
  margin-bottom: 2em;
  flex: 1;
  padding-left: 0.8em;
}

main section:nth-of-type(3) > ul li img {
  grid-row-start: 1;
  grid-row-end: 6;

  grid-column-start: 1;
  grid-column-end: 2;

  width: 100%;
}

main section:nth-of-type(3) > ul li time {
  display: block;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
}

main section:nth-of-type(3) > ul li p {
  display: block;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 1em;
  margin-top: 1em;
}
main section:nth-of-type(3) > ul li a {
  display: block;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

/************* einde main section 3********************************************/

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
}

footer li {
  color: var(--color-text-voeter-head);
  text-align: center;
}

footer ul:nth-of-type(1) ul {
  margin-top: 1em;
}

footer ul:nth-of-type(1) li {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

footer ul:nth-of-type(1) li ul {
  display: flex;
  flex-direction: row;
}

footer ul:nth-of-type(1) li > img {
  width: 50%;
}
footer > ul:nth-of-type(1)::after {
  content: "";
  display: block;
  background-color: white;
  width: 90%;
  height: 0.05em;
  position: absolute;
  margin: 1em 0 0 1em;
}

footer ul:nth-of-type(2) {
  margin: 1em 0 1em 0;
  /* background-color: violet; */
}
footer ul:nth-of-type(2) li {
  font-family: "Montserrat", sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
}

footer ul:nth-of-type(3) select {
  appearance: none;
  background-color: var(--color-background-white);
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
}

footer ul:nth-of-type(3) {
  margin: 0 0 1em 0;
  display: flex;
  justify-content: center;
  /* background-color: orange */
}
footer ul:nth-of-type(4) {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  /* background-color: sienna */
}

footer ul:nth-of-type(4) a {
  color: var(--color-text-voeter-head);
  font-size: 0.6em;
}
footer ul:nth-of-type(4) p {
  color: var(--color-text-voeter-head);
  font-size: 0.6em;
}

footer ul:nth-of-type(4) img {
  height: 20px;
  width: 50px;
}

/*****************************************************************************************************************************
******************************************************************************************************************************
**************************************hieronder stijling voor de 80fever pagina*****************************************************************************************
*******************************************************************************************************************************
******************************************************************************************************************************
****************************************************************************************/

@media (prefers-color-scheme: dark) {
  :root {
    /* startje */
    --background-color-body: rgb(255, 255, 255);
    --color-text: rgb(255, 255, 255);
    --background-color-header-footer: rgb(0, 0, 0);
    --color-text-voeter-head: white;
    --color-text-time: white;
    --color-background-white: black;
    --color-background: rgb(0, 0, 0);
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
    --afterH2-line-gold: white;
    --border-lines-white: rgb(255, 255, 255);
    --border-lines-black: rgb(255, 255, 255);
    --links-hover-color-gold: goldenrod;
    --links-visited-color: white;
    --background-color-lgray: red;
    --button-order-color: white;
    --botton-order-tekst: black;
  }

  body {
    background-color: black;
    z-index: 100;
  }

  p {
    color: var(--color-text);
  }

  a {
    color: var(--color-text);
  }

  footer {
    border: solid;
    border-width: 0.1em 0 0 0;
    border-color: var(--border-lines-white);
  }

  header > section h1 img {
    width: 155px;
    height: 45px;
    filter: brightness(100);
  }

  header > section img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    filter: brightness(100);
  }
}
