/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;0,6..96,600;0,6..96,700;1,6..96,400;1,6..96,500;1,6..96,600&family=Domine:wght@400;500;600;700&display=swap");

button,
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  /* startje */
  --color-text: #111;
  --color-background: #eee;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
  color: var(--color-text);
  background-color: var(--color-background);
  position: relative;

  min-width: 100vw;
}

h1,
h2 {
  font-family: "Bodoni Moda", serif;
  color: black;
}

h1{
	font-size: 2em;
}

h2 {
  font-size: 2em;
  line-height: 1.3em;
  /* margin-left: 0.5em; */
  font-style: italic;
  margin: 1em 0.5em 1em 0.5em;
  padding-right: 1.5em;
}

time {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1em;
  color: gray;
}

h2::after {
  content: "";
  display: block;
  background-color: goldenrod;
  width: 30%;
  height: 0.05em;
  position: absolute;
}

a {
  color: black;
  font-family: "Montserrat", sans-serif;
}

header a {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

header {
  /* border: solid; */
  /* border: 5em solid rgb(243, 3, 55); */
  /*border-top-width: 1em;*/
  /* border-width: 0.5em 0 0 0; */
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 0.2em 0 black;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: bl;

  left: 0;
  right: 0;

  padding: 0.5em 0 0 0;
  position: relative;
}

header section select {
  /* appearance: none; */
  width: 70%;

  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 5px;
}

select {
  appearance: none;
  background-color: white;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 50%;
  font-family: inherit;
  font-size: inherit;
}

header section select option {
  font-family: "Montserrat", sans-serif;
}

header section section:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
}

/* header::after{
	content: "";
	display: block;
	background-color: black;
	width: 100%;
	height: .3em;
	position: absolute;
	top: 0;
} */

header > section {
  display: flex;
  flex-direction: row;
  border: solid;
  border-width: 0 0 0.1em 0;
  justify-content: space-around;
  /* padding: 0 0 0.5em 0; */
}

header > section h1 img {
  width: 155px;
  height: 45px;
}

header > section img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

header > section nav {
  position: fixed;
  /* top:0; */
  /* left:0; */
  inset: 0;
  z-index: 1;

  background-color: black;
  /* width: 100vw; */
  /* height: 100vh; */

  opacity: 100%;
  transform: translateX(-100%);
  transition: 0.3s;
}

header > section nav.zichtbareMenu {
  background-color: rebeccapurple;
  transform: translateX(0%);
  max-width: 100vw;
  
  
}
header > section nav.zichtbareMenu img {
	width: 155px;
	height: 45px;
	position: relative;
	margin-top: 8px;
	margin-left: 8px;	
}
header > section nav.zichtbareMenu h3{
	color: white;
}
header > section nav.zichtbareMenu ul:first-of-type{
	display: flex;
	flex-direction: row;
	list-style: none;
}
header > section nav.zichtbareMenu ul:first-of-type li img{
	width: 100%;
	
}
header > section nav.zichtbareMenu ul:nth-of-type(2){
	list-style: none;
	border: solid;
	border-bottom: white;
}
header > section nav.zichtbareMenu ul:nth-of-type(2) li{
	display: flex;
	list-style: none;	
	display: block;
	margin: 1em 0 1em 1em;
}

header > section nav.zichtbareMenu ul:nth-of-type(2) li::after{
	content: "";
	display: block;
	height: 0.1em;
	width: 80vw;	
	background-color: white;
	margin-top: 1em;

}

header > section nav.zichtbareMenu ul:nth-of-type(2) li a{
	color: white;
	font-family: "Bodoni Moda", serif;
	font-size: 2em;
	
}

header > section nav.zichtbareMenu ul:nth-of-type(3) li{
	display: flex;
	list-style: none;	
	display: block;
	margin: 1em 0 1em 0;
}

header > section nav.zichtbareMenu ul:nth-of-type(3) li a{
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 1em;
	
}


header > section nav div {
  width: 2em;
  height: 2em;
  background-color: seashell;
  position: absolute;
  right: 0;
}

header nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 12px;
}

header > nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;

  list-style: none;
}

header > nav {
  padding: 1em 0 1em 0;
  width: 80%;
}

main {
  position: static;
}

main h2{
	font-size: 1.5em;
}

main section time,
a,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  margin-left: 1em;
  text-decoration: none;
  
}


main section ul{
	margin-top: 1em;

}

main section:nth-of-type(1) {
  padding: 5em 0 0 0;
  /* background-color: lightcoral; */
  /* border: solid;
	border-width: 0.5em 0 0.2em 0; */
	display: block;
}

main section:nth-of-type(1) img {
	height: 357px;
	width: 100vw;
	object-fit: cover;
	object-position: 40% 10%;
	margin-bottom: 10%;
	display: block;
}

main section:nth-of-type(1)::after {
  content: "";
  display: block;
  background-color: black;
  width: 100%;
  height: 0.1em;
  position: absolute;
  margin-top: 1em;
  /* top: 0; */
}




main section:nth-of-type(2) > ul > li{
	display: flex;
	flex-direction: row;
	background-color: violet;
	border: solid;
	border-bottom: black;
	border-style: solid;
}




main section > ul::after{
	content: "";
	display: block;
	background-color: black;
	width: 90%;
	height: 0.1em; 
}



main section:nth-of-type(2) {
  padding: 5em 0 0 0;
  /* background-color: yellow; */
  /* border: solid;
	border-width: 0.5em 0 0.2em 0; */
  /* margin-top: 15%; */
  /* display: block; */
}

/* main section:nth-of-type(2) ul::after{
	content: "";
	display: block;
	background-color: black;
	width: 90%;
	height: 0.1em; 

}*/





main section:nth-of-type(2) ul li img {
	height: 150px;
	width: 100px;
	object-fit: cover;
	order: -1;
  }

main section:nth-of-type(2) ul li ul li {
  display: flex;
  flex-direction: column;
  /* background-color: chartreuse; */
  order: -1;
}

main section:nth-of-type(3){
	background-color: crimson;
}


main section:nth-of-type(3) h1::before{
	content: "";
	display: block;
	background-color: black;
	width: 30%;
	height: 0.5em; 

}
/* main section:nth-of-type(3) h1::before::after{
	content: "";
	display: block;
	background-color: black;
	width: 40%;
	height: 3em; 

} */

main section:nth-of-type(3) section{
	background-color: burlywood;
	position: relative;
}

main section:nth-of-type(3) section img{
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	object-position: 40% 10%;
	margin-bottom: 10%;
	display: block;
	
}

main section:nth-of-type(3) section h2{
	position: absolute;
	top: 50%;
	color: white;
}

main section:nth-of-type(3) section p{
	position: absolute;
	top: 50%;
	color: white;
}

@media only screen and (min-width: 1000px) {
  /*Tablets [601px -> 1200px]*/
}
